@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #AAB5B5;
    --cor02: #F2A007;
    --cor03: #004D6E;
    --cor04: #2E8C14;
    --cor05: #1F6B1A;
}

body {
    background-color: var(--cor05);
}

main {
    background-color: #D9F9D9;
}

header {
    background-color: var(--cor05);
    padding: 20px;
    margin: auto;
    text-align: center;
    color: white;
}

p#art {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
}

a.bkks {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    display: block;
    margin: auto;
    width: 20vw;
    margin: 40px auto;
    color: black;
    transition-duration: 0.2s;
}

a#priserie {
    background-color: #74B88B;
}

a#segserie {
    background-color: #6BCCF2;
}

a#terserie {
    margin-bottom: 110px;
    background-color: #FAED7D;
}

ul a:hover {
    font-weight: bold;
}

footer {
    background-color: var(--cor05);
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    margin: 0px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: var(--cor02);
}