@charset "UTF-8";

:root {
    --cor01: #91E0F2;
    --cor02: #6BCCF2;
    --cor03: #52B5F2;
    --cor04: #27A4F2;
    --cor05: #0468BF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 700px;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

col#primeira {
    width: 100px;
}

caption {
    background-color: white;
    padding: 8px;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

thead > tr > th {
    position: sticky;
    top: -1px;
}

tbody > tr:nth-child(even) {
    background-color: var(--cor02);
}

th {
    background-color: var(--cor02);
}

th, td {
    border: 1px solid black;
    padding: 5px;
}