@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --cor01: #7CC494;
    --cor02: #74B88B;
    --cor03: #649E77;
    --cor04: #4C785B;
    --cor05: #24382A;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor02);
}

header {
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--cor02);
}

main {
    margin: auto;
    padding: auto;
    background-color: white;
}

iframe {
    width: 95vw;
    height: 650px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    display: block;
}

ul {
    columns: 3;
    list-style-type: none;
    text-align: center;
    margin: 20px 50px 20px 50px;
}

ul a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    margin: auto 10px;
    display: block;
    transition-duration: 0.2s;
}

ul a:hover {
    font-weight: bold;
    background-color: var(--cor02);
    transition-duration: 0.4s;
}

div {
    margin: auto;
    padding: auto;
    text-align: center;
}

footer {
    background-color: var(--cor02);
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}