@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --cor01: #6dc736;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--cor01);
}

main {
    margin: auto;
    padding: auto;
    background-color: white;
}

iframe {
    border: 1px solid black;
    width: 95vw;
    height: 70vh;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

ul {
    columns: 3;
    list-style-type: none;
    text-align: center;
    margin: 20px 50px 20px 50px;
}

ul a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    margin: auto;
    display: block;
    transition-duration: 0.4s;
}

ul a:hover {
    font-weight: bold;
    background-color: var(--cor01);
    transition-duration: 0.4s;
}

div {
    margin: auto;
    padding: auto;
    text-align: center;
}